@import 'normalize';

@font-face {
    font-family: Mont;
    src: url("../fonts/Montserrat-Regular.otf");
}
@font-face {
    font-family: MontL;
    src: url("../fonts/Montserrat-Light.otf");
}
@font-face {
    font-family: MontUL;
    src: url("../fonts/Montserrat-UltraLight.otf");
}
@font-face {
    font-family: MontB;
    src: url("../fonts/Montserrat-Bold.otf");
}
@font-face {
    font-family: MontEB;
    src: url("../fonts/Montserrat-ExtraBold.otf");
}
@font-face {
    font-family: MontSB;
    src: url("../fonts/Montserrat-SemiBold.otf");
}
@font-face {
    font-family: Sweet;
    src: url("../fonts/Sweetly-Broken.ttf");
}
@font-face {
    font-family: SweetSB;
    src: url("../fonts/Sweetly-Broken-SemiBold.ttf");
}
@font-face {
    font-family: SweetB;
    src: url("../fonts/Sweetly-Broken-Bold.ttf");
}
@font-face {
    font-family: Merr;
    src: url("../fonts/Merriweather-Regular.ttf");
}
@font-face {
    font-family: MerrL;
    src: url("../fonts/Merriweather-Light.ttf");
}
@font-face {
    font-family: MerrI;
    src: url("../fonts/Merriweather-Italic.otf");
}
@font-face {
    font-family: MerrLI;
    src: url("../fonts/Merriweather-LightItalic.otf");
}
@font-face {
    font-family: MerrB;
    src: url("../fonts/Merriweather-Bold.ttf");
}
@font-face {
    font-family: MerrUB;
    src: url("../fonts/Merriweather-UltraBold.ttf");
}

// VARIABLES
$brown: #6b2f17;
$blue: #265a6d;
// MAIN STYLE
body{
	.basic-page{
		background: url("../images/bg.jpg") center center;
		background-size: 100% auto;
		min-height:100vh;
		position: relative;
	}
}

//NAVBAR
nav{
	
	background-color: #E7AB17 !important;
	border-bottom:1px solid $brown !important;
	margin-bottom:0 !important;

	.navbar-header{
		.logo-brand{
			padding:5px;
			margin-right: 10px;
			.name-logo{
				width:40px;
				height: 40px;
				background: url("../images/logo-GK.png");
				background-size: cover;
			}
		}
	}
	.navbar-nav{
		a{
			font:{
				family: Mont;
				size:18px;
			}
			color: #333 !important;
			&:hover{
				color: $blue !important;
			}
		}
	}
	.navbar-right{

			
			margin-bottom: 0;
			@media screen and (max-width:1020px){
				float:left !important;
				padding-bottom: 10px;
			}
			li{
				a{
					line-height: 16px;
				}
			}

		

	}
	.form-control{
		margin-top: 2px;
	}
	.nav-label{
		font:{
			family: MontL;
			size:18px;
		}
		color: #333;
		line-height: 50px;
		float:left;
		margin: 0 10px 0 0;		
	}
	.bootstrap-select{
		margin-top: -4px;
	}
}

// CONTENT+RIGHT and LEFT Belts
.home-page, .detail-section{
	display:flex;
	
	padding: 0;
	margin: 0;
	width:100%;
	flex-direction:row;
	@media screen and (max-width:1020px){
		flex-flow:column wrap
			
	}

	.cards-belt-left,.cards-belt-right{
		width:15%;
		height: 100%;
		background-color: #eaeaea;
		border-left: 1px solid $brown;
		display:flex;
		flex-direction:column;
		justify-content: space-between;
		@media screen and (max-width:1370px){
			width:20%;
		}
		@media screen and (max-width:1020px){
			width:100%;
			order:1;
			flex-direction:row;
		}
		@media screen and (max-width:992px){
			order:4;
			flex-direction:column;
		}


		
		.category-box{
			overflow-y:scroll;
			height:300px;
			border-bottom: 1px solid white;
			background: url(../images/wood.png);
			@media screen and (max-width:1020px){
				width:34%;
				height: 150px;
				
			}
			@media screen and (max-width:992px){

				width:100%;
			}
			&:last-child{
				border-bottom: 1px solid $brown;

			}
			.category-title{

				font:{
					family:MerrB;
					size:1em;
				}
				color:$blue;
				text-align: center;
				text-transform: uppercase;
				background-color: red;
				line-height: 2em;
				margin: 0;
				border-bottom: 1px solid $brown;
				border-top: 1px solid $brown;
				background:url(../images/wood-dark.png) ;
			}
			.category-ul-box{
				ul{
					list-style-type: none;
					padding-left: 0;
					margin-bottom: 0;
					li{
					    background-color: grey;
						background-size: 122% auto !important;
						background-position: 50% 28% !important;
						.noise{
							background: url(../images/noise2.png);
							width:100%;
							a{
								padding-left: 20px;
								text-decoration: none;
								font:{
									family:Mont;
									size:12px;
								}
								color:white;
								text-shadow: 2px 2px #000;
								line-height: 2.3em;
								transition: all 0.3s ease-in-out;
								@media screen and (max-width:1446px){
									padding-left: 5px;	

								}
								&:hover{
									font:{
										family: Mont;
									}
									color: yellow;
									text-shadow: 1px 1px #999;
								}
							}
							.btn-plus{
								padding: 5px;
								float:right;

							}
						}						
					}
				}
			}
		}
	}
	.page-wrapper{
		width:70%;
		@media screen and (max-width:1370px){
			width:60%;
		}
		@media screen and (max-width:1020px){
			width:100%;
			order:3;
			align-self: flex-end;
		}


		
		.logo{
			display: block;
			width:357px;
			height: 140px;
			background: url("../images/logo.png") center center;
			background-size: cover;
			margin:20px auto 10px;
		}
		.main-container{
			width:100%;
			height: 700px;			
			display: flex;
			justify-content: space-between;
			.content-wrapper{
				width:700px;				
				margin-left: 40px;
				.content-title{
					font:{
						family: MontSB;
						size:3em;
					}
					color:white;
					span{
						color: #89160a;						
					}
				}
				.content-text, .content-ul{
					font:{
						family:MerrB;
						size:1em;
					}
					color:white;
					text-shadow: 1px 1px #999;
					span{
						color:#89160a;
						text-shadow: none;
					}
				}
				.graph-box{
					width:600px;
					height: 300px;
					background: url("../images/graph-bg.jpg") center center;
					background-size: cover;
					margin:20px auto 5;
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					transition: all 0.5s ease-in-out;
					padding-left: 30px;
					padding-right: 30px;

					.tower{
						width: 15px;
						max-height:250px;
						height:2px;
						background: linear-gradient(#31B0D5, #75C3D8, #A2CEDB);
						align-self: flex-end;
						margin-bottom: 8px;
						transition: all 0.5s ease-in-out;
					}

				}
				.graph-costs{
					width:600px;
					height: 20px;
					margin:0 auto;
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					padding-left: 30px;
					padding-right: 30px;
					.icon-cost{
						width: 20px;
						height: 20px;
						background: url("../images/cost-small.png") center center;
						background-size: cover;
						text-align: center;
						color:white;
						font:{
							family:MontB;
							size:12px;
						}
						padding-top: 2px;
						padding-left: 1px;
					}
				}
			}
			.list-wrapper{
				width:400px;
				height: 200px;
				
				.list{
					width:300px;
					height: 650px;
					background: url("../images/list-frame.png");
					margin: 0 auto;
					padding-top: 14px;

					.list-header{
						height: 20px;
						width:283px;
						background: url("../images/wood-dark.png");
						margin:0 auto;
						display: flex;
						justify-content: space-between;
						.head{
							text-align: center;
							font:{
								family:Merr;
								size:12px;
							}
							color:$brown;
							line-height: 20px;
							.icon{
								height:15px;
								width:15px;
								
								margin:2px auto 0;
								background-size: 100% auto;

								&.icon-cost{
									background:url("../images/cost-small.png") center center;
								}
								&.icon-attack{
									background:url("../images/attack-small.png") center center;
								}
								&.icon-health{
									background:url("../images/health-small.png") center center;
								}
							}
						}
						.head-lp{
							width:8%;
							margin:0;
							text-align: center;							
						}
						.head-cost, .head-attack, .head-health{
							margin:0;
							width:10%;

						}
						.head-name{
							margin:0;
							width:62%;
						}					
					}
					.list-body{
						width:283px;
						
						margin:0 auto;
						background-color: white;
						display: flex;
						.td-lp{
							width:8%;
							
							
						}
						.td-name{
							width:62%;
							
							
						}
						.td-cah{
							width:10%;			
						}

						ul{
							list-style-type: none;
							padding:0;
							margin-bottom: 0;
							&.lp-ul{
								border-right: 1px solid $brown;
								background: url("../images/wood.png");
							}

							li{
								line-height: 20px;
								font:{
									family:Mont;
									size:12px;
								}
								padding-left: 3px;
								box-shadow: inset 0px 0.5px 1px 0px rgba(153,153,153,1);
								&.name-li{
									padding-left: 10px;
								}
								&.cah-li{
									text-align: center;
								}								
							}
						}
					}
				}

			}
		}
	}
}
// DETAIL SECTION (partials/detail.html)
.detail-section{
	.frame{
		display: flex;
		justify-content: space-between;
		width:960px;
		height: 500px;
		background: url("../images/frame.png") center center;
		background-size: cover;
		margin: 0 auto;
		.column-image{
			position: relative;
			margin-left: 31px;
			margin-top: 70px;
			width:290px;
			height: 407px;
			
			img {
				display: block;
				max-width:75%;
				margin: 0 auto;
			}
		}
		.column-desc{
			position: relative;
			width:590px;
			height: 407px;
			
			margin-top: 70px;
			margin-right: 30px;
			display: flex;
			flex-direction:row;
			justify-content: space-between;
			.col{
				width:50%;
				height: 100%;
				.detail{
					position: relative;
					margin:0;
					width:92%;
					line-height: 35px;
					margin-left: 4%;
					border-bottom:1px solid $brown;
					font:{
						family: MerrB;
						size:16px;
					}
					color: $brown;
					display: online-block;
					&:after{
					  clear: both;
					  content: "";
					  display: table;
					}
					
					ul{
						list-style-type: none;
						li{

						}
					}
					&.detail-list{
						border: none;
					}
					&:first-child{
						margin-top: 18px;
					}
					span{
						
						right:0;
						font: {
							family: MontSB;
							size:14px;
						}
						color: $blue;
						max-width:70%;
						float:right;
						line-height: 20px;
						margin-top: 7px;
						&.icon-quantity{
							position: relative;
							display:block;
							margin:7px auto 0;
							width:100%;
							color:white;
							text-align: center;
							
							padding-left: 2px;
							z-index:2;		
						}
					}
					.icon{
						margin-top: 0;
						display:flex;
						width:35px;
						height:35px;
						background-color: grey;
						position: relative;
						bottom:0px;
						right:0;
						background-size: cover;
						.icon-quantity{
							position: relative;
							display:block;
							margin:7px auto 0;
							width:100%;
							color:white;
							text-align: center;
							padding-left: 2px;
							z-index:2;
							font-size:12px
							
						}
						
						&.icon-cost{
							background: url("../images/cost.png") center center;

						}
						&.icon-attack{
							background: url("../images/attack.png") center center;
							.icon-quantity{
								margin-top: 8px;
							}						
						}
						&.icon-health{
							background: url("../images/health.png") center center;		
							.icon-quantity{
								margin-top: 11px;
							}					
						}														
					}
				}
				.detail-ul{
					
					margin-top: 0;
					margin-left: 4%;
					margin-bottom: 0;
					border-bottom: 1px solid $brown;
					padding-bottom: 10px;
					padding-left: 10%;
					width:82%;
					
					li{
						line-height: 20px;
						font:{
							family: Mont;
							size:12px;
						}
						color: $blue;
					}
				}
			}
			.name-holder{
				position: absolute;
				top:-53px;
				left:10px;
				width:434px;
				height: 40px;
				
				p{
					line-height: 40px;
					margin:0;
					font:{
						family: MerrB;
						size:20px;
					}
					padding-left: 20px;
					color: $brown;
					span{
						font: {
							family: MontSB;
							size: 24px;
						}
						margin-left: 40px;
						color: $blue;
					}
				}
			}
		}
	}
}

//FOOTER
footer{
	width:100%;
	height: 100px;
	background-color: $blue;
}
