<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo-brand" href="https://github.com/Gregoofolio"><div class="name-logo"></div></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/">Home</a></li>
        <li><a href="#/cards/{{randomName}}" ng-click="getRandomName()">See Random Card</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search for card" ng-model="query.name">
        </div>
      </form>
      <label class="nav-label">Order by:</label>
        <select select-bts ng-model="order">
          <option value="name">Name</option>
		  <option value="cost">Cost</option>
		  <option value="attack">Attack</option>
		  <option value="health">Health</option>
		</select>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://www.grzegorzkyc.pl">My WebPage [pl]</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="logo"></div>
<section class="card-list-section">

	<div class="lists-container">
		<div class="cards-box">
			
			<ul>
				<h2 class="box-h2" id="basic">Basic cards</h2>
				<li ng-repeat="card in cards.Basic | filter: query | orderBy: order" style="background:url({{card.img}});">
					<div class="noise">
						<a href="#/cards/{{card.name}}">{{card.name}} </a>
						<button class="btn btn-info btn-plus" ng-click="addToList(card)"><span class="glyphicon glyphicon-plus"></span></button>
					</div>	
					
				</li>
				<h2 class="box-h2 middle-h2" id="classic">Classic cards</h2>
				<li ng-repeat="card in cards.Classic | filter: query" style="background:url({{card.img}});">
					<div class="noise">
						<a href="#/cards/{{card.name}}">{{card.name}}</a>
						<button class="btn btn-info btn-plus" ng-click="addToList(card)"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</li>
				<h2 class="box-h2 middle-h2" id="gvg">GvG</h2>
				<li ng-repeat="card in cards[ 'Goblins vs Gnomes' ] | filter: query | orderBy: order" style="background:url({{card.img}});">
					<div class="noise">
						<a href="#/cards/{{card.name}}">{{card.name}}</a>
						<button class="btn btn-info btn-plus" ng-click="addToList(card)"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</li>
				<h2 class="box-h2 middle-h2" id="blackrock">Blackrock Mountain</h2>
				<li ng-repeat="card in cards[ 'Blackrock Mountain' ] | filter: query | orderBy: order" style="background:url({{card.img}});">
					<div class="noise">
						<a href="#/cards/{{card.name}}">{{card.name}}</a>
						<button class="btn btn-info btn-plus" ng-click="addToList(card)"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</li>
				<h2 class="box-h2 middle-h2" id="naxxramas">Naxxramas</h2>
				<li ng-repeat="card in cards.Naxxramas | filter: query | orderBy: order" style="background:url({{card.img}});">
					<div class="noise">
						<a href="#/cards/{{card.name}}">{{card.name}}</a>
						<button class="btn btn-info btn-plus" ng-click="addToList(card)"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</li>
				<h2 class="box-h2 middle-h2" id="tgt">The Grand Tournament</h2>
				<li ng-repeat="card in cards[ 'The Grand Tournament' ]  | filter: query | orderBy: order" style="background:url({{card.img}});">
					<div class="noise">
						<a href="#/cards/{{card.name}}">{{card.name}}</a>
						<button class="btn btn-info btn-plus" ng-click="addToList(card)"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</li>										
			</ul>
		</div>

		<div tower  get-zero="{{numberOf0}}" 
					get-one="{{numberOf1}}"
					get-two="{{numberOf2}}"
					get-three="{{numberOf3}}"
					get-four="{{numberOf4}}"
					get-five="{{numberOf5}}"
					get-six="{{numberOf6}}"
					get-seven="{{numberOf7}}"
					get-eight="{{numberOf8}}"
					get-nine="{{numberOf9}}"

				    class="graph-container">

			<div class="tower">{{numberOf0}}</div>
			<div class="tower">{{numberOf1}}</div>
			<div class="tower">{{numberOf2}}</div>
			<div class="tower">{{numberOf3}}</div>
			<div class="tower">{{numberOf4}}</div>
			<div class="tower">{{numberOf5}}</div>
			<div class="tower">{{numberOf6}}</div>
			<div class="tower">{{numberOf7}}</div>
			<div class="tower">{{numberOf8}}</div>
			<div class="tower">{{numberOf9}}</div>
			
		</div>

		<div class="added-cards-table">
			<table class="table table-bordered table-hover">
				<tbody>
					<tr>
						<th>Lp.</th>
						<th>Name</th>
						<th>Attack</th>
						<th>Health</th>
						<th>Cost</th>
					</tr>
					<tr>
						<td>
							<ul class="list-unstyled">
								<li ng-repeat="lp in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15] ">{{lp}}</li>
							</ul>
						</td>
						<td class="td-name">
							<ul class="list-unstyled">
								<li ng-repeat="name in arrayOfNames track by $index"><a href="#/cards/{{name}}">{{name}}</a></li>
							</ul>
						</td>
						<td class="td-attack">
							<ul class="list-unstyled">
								<li ng-repeat="attack in arrayOfAttack track by $index">{{attack}}</li>
							</ul>
						</td>
						<td class="td-health">
							<ul class="list-unstyled">
								<li ng-repeat="health in arrayOfHealth track by $index">{{health}}</li>
							</ul>
						</td>
						<td class="td-cost">
							<ul class="list-unstyled">
								<li ng-repeat="cost in arrayOfCost track by $index">{{cost}}</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
</section>
