<section class="card-list-section">
	<div class="lists-container">
		<div class="cards-box">
			
			<ul>
				<h2 class="box-h2">Basic cards</h2>
				<li ng-repeat="card in cards.Basic | filter: query | orderBy: order" style="background:url({{card.img}});">
					<span>
						<a href="#/cards/{{card.name}}">{{card.name}}</a>
						<button class="btn btn-info btn-plus" ng-click="addToList(card)"><span class="glyphicon glyphicon-plus"></button>
					</span>
				</li>
				<h2 class="box-h2 middle-h2">Classic cards</h2>
				<li ng-repeat="card in cards.Classic | filter: query" style="background:url({{card.img}});">
					<span>
						<a href="#/cards/{{card.name}}">{{card.name}}</a>
						<button class="btn btn-info btn-plus" ng-click="addToList(card)"><span class="glyphicon glyphicon-plus"></button>
					</span>
				</li>
				<h2 class="box-h2 middle-h2">GvG</h2>
				<li ng-repeat="card in cards[ 'Goblins vs Gnomes' ] | filter: query | orderBy: order" style="background:url({{card.img}});">
					<span>
						<a href="#/cards/{{card.name}}">{{card.name}}</a>
						<button class="btn btn-info btn-plus" ng-click="addToList(card)"><span class="glyphicon glyphicon-plus"></button>
					</span>
				</li>
				<h2 class="box-h2 middle-h2">Blackrock Mountain</h2>
				<li ng-repeat="card in cards[ 'Blackrock Mountain' ] | filter: query | orderBy: order" style="background:url({{card.img}});">
					<span>
						<a href="#/cards/{{card.name}}">{{card.name}}</a>
						<button class="btn btn-info btn-plus" ng-click="addToList(card)"><span class="glyphicon glyphicon-plus"></button>
					</span>
				</li>
				<h2 class="box-h2 middle-h2">Naxxramas</h2>
				<li ng-repeat="card in cards.Naxxramas | filter: query | orderBy: order" style="background:url({{card.img}});">
					<span>
						<a href="#/cards/{{card.name}}">{{card.name}}</a>
						<button class="btn btn-info btn-plus" ng-click="addToList(card)"><span class="glyphicon glyphicon-plus"></button>
					</span>
				</li>
				<h2 class="box-h2 middle-h2">The Grand Tournament</h2>
				<li ng-repeat="card in cards[ 'The Grand Tournament' ]  | filter: query | orderBy: order" style="background:url({{card.img}});">
					<span>
						<a href="#/cards/{{card.name}}">{{card.name}}</a>
						<button class="btn btn-info btn-plus" ng-click="addToList(card)"><span class="glyphicon glyphicon-plus"></button>
					</span>
				</li>										
			</ul>
		</div>
<!-- 		<div class="cards-box">
			<h2 class="box-h2">Classic cards</h2>
			<ul>
				<li ng-repeat="card in cards.Classic | filter: query">
					<span>
						<a href="#/cards/{{card.name}}">{{card.name}}</a>
						<button class="btn btn-info btn-plus" ng-click="addToList(card)"><span class="glyphicon glyphicon-plus"></button>
					</span>
				</li>
			</ul>
		</div>
		<div class="cards-box">
			<h2 class="box-h2">GvG cards</h2>
			<ul>
				<li ng-repeat="card in cards[ 'Goblins vs Gnomes' ] | filter: query | orderBy: order">
					<span>
						<a href="#/cards/{{card.name}}">{{card.name}}</a>
						<button class="btn btn-info btn-plus" ng-click="addToList(card)"><span class="glyphicon glyphicon-plus"></button>
					</span>
				</li>
			</ul>
		</div>
		<div class="cards-box">
			<h2 class="box-h2">Blackrock Mountain</h2>
			<ul>
				<li ng-repeat="card in cards[ 'Blackrock Mountain' ] | filter: query | orderBy: order">
					<span>
						<a href="#/cards/{{card.name}}">{{card.name}}</a>
						<button class="btn btn-info btn-plus" ng-click="addToList(card)"><span class="glyphicon glyphicon-plus"></button>
					</span>
				</li>
			</ul>
		</div>
		<div class="cards-box">
			<h2 class="box-h2">Naxxramas</h2>
			<ul>
				<li ng-repeat="card in cards.Naxxramas | filter: query | orderBy: order">
					<span>
						<a href="#/cards/{{card.name}}">{{card.name}}</a>
						<button class="btn btn-info btn-plus" ng-click="addToList(card)"><span class="glyphicon glyphicon-plus"></button>
					</span>
				</li>
			</ul>
		</div>
		<div class="cards-box">
			<h2 class="box-h2">TGT cards</h2>
			<ul>
				<li ng-repeat="card in cards[ 'The Grand Tournament' ]  | filter: query | orderBy: order">
					<span>
						<a href="#/cards/{{card.name}}">{{card.name}}</a>
						<button class="btn btn-info btn-plus" ng-click="addToList(card)"><span class="glyphicon glyphicon-plus"></button>
					</span>
				</li>
			</ul>
		</div> -->

		<div tower  get-zero="{{numberOf0}}" 
					get-one="{{numberOf1}}"
					get-two="{{numberOf2}}"
					get-three="{{numberOf3}}"
					get-four="{{numberOf4}}"
					get-five="{{numberOf5}}"
					get-six="{{numberOf6}}"
					get-seven="{{numberOf7}}"
					get-eight="{{numberOf8}}"
					get-nine="{{numberOf9}}"

				    class="graph-container">

			<div class="tower">{{numberOf0}}</div>
			<div class="tower">{{numberOf1}}</div>
			<div class="tower">{{numberOf2}}</div>
			<div class="tower">{{numberOf3}}</div>
			<div class="tower">{{numberOf4}}</div>
			<div class="tower">{{numberOf5}}</div>
			<div class="tower">{{numberOf6}}</div>
			<div class="tower">{{numberOf7}}</div>
			<div class="tower">{{numberOf8}}</div>
			<div class="tower">{{numberOf9}}</div>
			
		</div>

		<div class="added-cards-table">
			<table class="table table-bordered table-hover">
				<tbody>
					<tr>
						<th>Lp.</th>
						<th>Name</th>
						<th>Attack</th>
						<th>Health</th>
						<th>Cost</th>
					</tr>
					<tr>
						<td>
							<ul class="list-unstyled">
								<li ng-repeat="lp in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15] ">{{lp}}</li>
							</ul>
						</td>
						<td class="td-name">
							<ul class="list-unstyled">
								<li ng-repeat="name in arrayOfNames track by $index"><a href="#/cards/{{name}}">{{name}}</a></li>
							</ul>
						</td>
						<td class="td-attack">
							<ul class="list-unstyled">
								<li ng-repeat="attack in arrayOfAttack track by $index">{{attack}}</li>
							</ul>
						</td>
						<td class="td-health">
							<ul class="list-unstyled">
								<li ng-repeat="health in arrayOfHealth track by $index">{{health}}</li>
							</ul>
						</td>
						<td class="td-cost">
							<ul class="list-unstyled">
								<li ng-repeat="cost in arrayOfCost track by $index">{{cost}}</li>
							</ul>
						</td>
					</tr>
				</tbody>

				
			</table>
			
				
					
				
			</table>
		</div>
	</div>
	
	<form action="" >
		Search: <input ng-model="query.name">
	</form>
	<h3>Order by:</h3>
	<select ng-model="order">
	  <option value="name">alphabetical</option>
	  <option value="cardID">card Id</option>
	  <option value="cost">cost</option>
	</select>

</section>
